#main-div {
  position: relative;
  margin-top: 50vh;
  margin-left: 50vw;
  width: 800px;
  height: 80vh;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

#title-txt {
  position: relative;
  height: 200px;
  width: 100%;
  text-align: center;
}

h1 {
  position: absolute;
  font-size: 3rem;
  width: 100%;
  margin: 4rem 0;
}

.button {
  font-size: 2rem;
}

#logoutBtn {
  position: absolute;
  right: 15px;
  top: 15px;
}